:root{
    --font-color: #55211A;
    --font-family-primary: "Open sans", sans-serif;
    --font-size: 1.1em;
    --link-color: #4F1926;
    --link-family-primary: "Bubblegum Sans", sans-serif;
    --link-size: 1.3em;
}

@media screen and (max-width: 1350px) {
    #navbar-container {
        width: 100vw;
        position: absolute fixed;
    }
    .burger {
        display: block !important;
        font-size: 32px;
        background: none;
        border: none;
        cursor: pointer;
    }
    .navbar-logo{
        flex-direction: column;
    }
    .navbar-logo .logo {
        width: 120px;
        height: 120px;
    }
    
    .navbar-list {
        list-style-type: none;
        padding: 10px;
        display: none !important;
        background: transparent;
        gap: 5px !important;
        font-size: 1.3em !important;
        margin-right: 50px;
        background: var(--link-color);
        position: relative;


        li{
            padding: 5px !important;
            margin: auto !important;
        }
        
    }
    
    .navbar-list.active {
        display: flex !important; 
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
}
@media screen and (max-width: 834px) {
    .burger {
        font-size: 28px;
    }
    #navbar-container{
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }
    .navbar-title {
        font-size: 1.8em;
    }
    .navbar-logo{
        flex-direction: column;
    }
    .navbar-logo .logo {
        width: 100px;
        height: 100px;
    }
    #wrapper {
        & footer {
            .footer-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 10px;
                padding-top: 10px;
                height:auto;
                
                .footer-left {
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    flex-wrap: wrap;
                    justify-content: center;

                    .footer-logo{
                        flex-wrap:wrap;
                    }
                }
                .footer-right {
                    width: auto;
                    color: white;
                    background: var(--footer-right-bg);
                    display: flex;
                    font-size: 0.7em;
                    padding: 10px;
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center; 
                        align-items: center;   
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .navbar-title {
        font-size: 1.5em;
    }
    .burger {
        font-size: 26px;
    }
    .navbar-logo .logo {
        width: 80px;
        height: 80px;
    }
    .navbar-list {
        width: 100%;
        top: 100%;
        left: 0;
        padding: 10px;
    }
    .navbar-list.active {
        display: flex;
        flex-direction: column;
    }
}