*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
    background: linear-gradient(to bottom, #FCC5D2, #FFFFFF);
}
#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    
}
.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-title{
    padding: 5px;
    font-size: 2em;
    color: #55211A;
    font-family: "Bubblegum Sans", sans-serif;
}
.navbar-logo a img{
    width: 150px;
    height: 150px;
}

.navbar-list{
    list-style-type: none;
    display: flex;
    padding: 5px;
    font-size: 1.5em;
    gap: 20px;
    padding: 20px;
    margin: 20px;
   
}
.navbar-list li{
    padding: 5px;
    margin: 5px;
}
.navbar-list li a{
    color: #55211A;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}
#cart-badge{
    background-color: #FFA85C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    width: 25px;
    height: 25px;
}
body{
    background: white;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #55211A;
}

.burger {
    display: block;
    font-size: 28px;
    }

.navbar-list {
        display: none;
        position: absolute;
        top: -10px;
        right: 200px;
        background: transparent;
        border-radius: 8px;
        padding: 20px;
        margin: 20px;
        font-size: 1.6em;
}

    .navbar-list.active {
        display: flex;
    }

    .navbar-list li {
        margin: 20px;
        padding: 20px;
    }
    .burger-navbar{
        display: flex;
        align-items: center;
    }
    .burger-user{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        padding: 5px;
        margin: 5px;
    }
    .burger-user i{
        color:#55211A;
    }
    .content{
        flex: 1;
    }
    .catalog-title{
        text-align: center;
        font-family: "Bubblegum Sans", sans-serif;
        color: #55211A;
        font-size: 1.8em;
    }

    .catalog-description{
        text-align: center;
        padding: 30px;
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;
        color: #55211A;
        font-size: 1.2em;
    }

    .catalog-link{
        color: #FFA85C;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
    }

    .searchbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
    }

    .search-button-container{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search-button {
        background: none;
        border: none;
        font-size: 1.2em;
        color: #FFA85C;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
    }

    .search-input {
        padding: 10px;
        margin: 10px;
        border: 3px solid #55211A;
        border-radius: 30px;
        margin-right: 10px;
        text-align: center;
        font-size: 1.2em;
    }

    .choux-grid-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choux-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        list-style: none; 
        padding: 20px;
    }

    .choux-grid li {
        border: 1px solid #55211A; 
        border-radius: 8px;
        text-align: center;
        background: transparent;
        width: 250px;
        height: 250px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
    }
    .choux-grid li h2{
        font-family: "Bubblegum Sans", sans-serif;
        color: #55211A;
        font-size: 1.3em;
    }
    .favori-btn {
        color: pink; /* Rose par défaut */
        border: none;
        padding: 8px;
        cursor: pointer;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }
    
    .favori-btn.favori-active {
        color: red; /* Rouge si favori */
    }
    
    
    .catalog-image{
        width: 200x;
        height: 200px;
        border-radius: 50px;
        object-fit: cover;
    }
    .catalog-price{
        font-family: "Open Sans", sans-serif;
        color: #55211A;
        font-weight: 600;
    }
    .footer-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        width: 100%;
        height: 100%;
    }
    .footer-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 400px;
        background: linear-gradient(to bottom, #FFA85C, #FFC18B);
    }
    .footer-left img {
        width: 150px;
    }
    .inner-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer-logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-left h3{
        font-family: "Bubblegum Sans", sans-serif;
        color: #55211A;
        font-size: 1.8em;
    }
    .footer-social{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 10px;
        margin-left: 15px;
    }
    .footer-social a{
        color: #55211A;
        font-family: "Open Sans", sans-serif;
        font-size: 1.3em;
    }
    .footer-adress{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-left: 15px;
        font-family: "Open Sans", sans-serif;
        color: #55211A;
        font-size: 1.1em;
        font-weight: 700;
    }
    .footer-adress a{
        color: #55211A;
        text-decoration: underline;
        font-weight: bolder;
    }
    .footer-right{
        width: 50%;
        height: 400px;
        color: white;
        background: #4F1926;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-right ul li{ 
    list-style: none;
    padding: 20px;
    }

    .details-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 10px;
        margin: 30px;
    }

    .list-details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-left: 15px;
        font-family: "Open Sans", sans-serif;
        color: #55211A;
        font-size: 1.1em;
        font-weight: 500;
    }
    .product-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #55211A;
        font-family: "Open sans", sans-serif;
    }
    .favori-btn{
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2em;
    }
    .details-image{
        width: 250px;
        height: 250px;
        border-radius: 50px;
        object-fit: cover;
    }
    .details-description{
        padding: 10px 0 0 0;
    }
    .details-title{
        font-family: "Bubblegum Sans", sans-serif;
        color: #55211A;
        font-size: 1.8em;
    }
    .details-allergene{
        font-weight: 300;
        font-size: 0.9em;
        border-bottom: #55211A 1px solid;
        padding: 10px 0 20px 0;
    }
    .details-price{
        font-weight: 400;
        font-size: 1.3em;
        padding: 15px 10px 10px 0;
    }

    #quantity-container {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .quantity{
        border: solid 2px #55211A;
        border-radius: 50px;
        text-align: center;
        font-size: 1.3em;
        width: 15%;
        color: #55211A;
        font-family: 'Open Sans', sans-serif;
        padding-left: 11px;
    }
    .add-to-cart-button{
        background-color: #FFA85C;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        font-family: "Bubblegum Sans", sans-serif;
        font-size: 1.1em;
    }
    
    .login-container {
        display: flex;
        flex-direction: column; 
        align-items: center;   
        justify-content: center; 
        height: 100vh;    
    }

    .login-title {
        margin-bottom: 20px;
        font-family: "Bubblegum Sans", sans-serif;
        color: #55211A;
        font-size: 2em;
    }
    .login-container ul{
        list-style: none;
        padding: 5px;
        margin: 0;
    }
    .login-container ul li{
        color: #FFA85C;
        font-family: "Open Sans", sans-serif;
        font-size: 1.1em;
        font-weight: 600;
    }
    .security-text{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Open Sans", sans-serif;
        color: #55211A;
        font-size: 1.1em;
        padding: 10px;
    }

    .login-container input {
        margin-bottom: 15px;
        width: 500px;
        padding: 10px;
        margin-bottom: 20px;
        border: 3px solid #55211A;
        border-radius: 50px;
    }
    .login-container input[type="checkbox"] {
        margin: 0;
        width: auto;
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .login-container button {
        background-color: #FFA85C;
        color: white;
        padding: 20px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        font-family: "Bubblegum Sans", sans-serif;
        font-size: 1.1em;
    }
    .remember-me {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px; 
        padding-bottom: 20px;
    }
    .login-container p {
        font-family: "Open Sans", sans-serif;
        color: #55211A;
        font-size: 1.1em;
        padding: 15px;
        margin-top: 20px;
    }
    .register-link{
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        color: #FFA85C;
    }
    .remember-me{
        font-family: "Open Sans", sans-serif;
        color: #55211A;
        font-size: 0.9em
    }
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .register-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #55211A;
    }
    .cart-quantity{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .cart-quantity input{
        width: 50px;
        height: 50px;
        text-align: center;
        border: none;
        font-family: "Open Sans", sans-serif;
        color: #55211A;
        font-size: 1.1em;
    }
    .cart-product{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px;
    }
    .cart-content button{
        background: transparent;
        border: none;
        cursor: pointer;
        color: #FFA85C;
        font-size: 1.2em;
    }
    .cart-content{
        font-size: 1.2em;
        font-family: "Open Sans", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cart-image{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    .profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: #55211A;
    font-size: 1.2em;
    gap: 15px;
    margin: 15px;
    }

    .profile-container input{
        margin-bottom: 15px;
        width: 500px;
        padding: 10px;
        margin-bottom: 20px;
        border: 3px solid #55211A;
        border-radius: 50px;
    }

    .profile-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        margin-top: 15px;
    }

    .update-container{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .update-button{
        text-decoration: none;
        color: #FFA85C;
        font-size: 1.1em;
        font-family: "Bubblegum Sans", sans-serif;
        padding: 20px;
    }

    .profile-link{
        text-decoration: none;
        color: #FFA85C;
        font-size: 1.4em;
        font-family: "Bubblegum Sans", sans-serif;
        padding: 15px;
    }

    .delete-link{
        text-decoration: none;
        color: red;
        font-size: 1.4em;
        font-family: "Bubblegum Sans", sans-serif;
        padding: 15px;
    }
    .commande-list { 
        display: flex; 
        flex-wrap: wrap; 
        gap: 20px; 
        justify-content: start; 
    }
    .commande-product { 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        background: #fff; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        padding: 15px; width: 200px; 
        text-align: center; 
    }
    .catalog-image { 
        width: 120px; 
        height: 120px; 
        object-fit: cover; 
        border-radius: 10px; 
        margin-bottom: 10px; 
    }
    .commande-container h3 { 
        font-size: 1.1rem; 
        font-family: "Bubblegum Sans", sans-serif;
        color: #55211A;
        font-size: 1.3em;
        padding: 10px;
    }
    .commande-product p { 
        margin: 5px 0; 
        font-family: "Open Sans", sans-serif;
        color: #55211A;
        font-size: 1.1em;
    }
    .commande-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .livraison-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .commande-container input {
        margin-bottom: 15px;
        width: 500px;
        padding: 10px;
        margin-bottom: 20px;
        border: 3px solid #55211A;
        border-radius: 50px;
    }
    
    .commande-container button {
        background-color: #FFA85C;
        color: white;
        padding: 20px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        font-family: "Bubblegum Sans", sans-serif;
        font-size: 1.1em;
    }
