:root{
    --font-color: #55211A;
    --font-family-primary: "Open sans", sans-serif;
    --font-size: 1.1em;
    --link-color: #FFA85C;
    --link-family-primary: "Bubblegum Sans", sans-serif;
    --link-size: 1.3em;
}


/* Style commun */ 
/* Polices communes */
a{
    text-decoration: none;
    color: var(--link-color);
    font-size: var(--link-size);
    font-family: var(--link-family-primary);
}

p{
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family-primary);
}

/* Liens communs */
.bubblegum-link{
    text-decoration: none;
    color: var(--link-color);
    font-size: var(--link-size);
    font-family: var(--link-family-primary);
    padding: 15px;
    background:transparent;
    border: none;
}

.delete-link{
    text-decoration: none;
    background:transparent;
    border: none;
    color: red;
    font-size: var(--link-size);
    font-family: var(--link-family-primary);
    padding: 15px;
} 

/* Flexbox communs*/ 
.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    body{
        background: white;
        height: 100%;
        
        #wrapper{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0 auto;
            
            
            /* NavBar */
            #navbar-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                text-decoration: none;
                background: linear-gradient(to bottom, #FCC5D2, #FFFFFF);
                
                .navbar-logo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .logo{
                        width: 150px;
                        height: 150px;
                    }
                }

                .navbar-title{
                    padding: 5px;
                    font-size: 2em;
                    color: var(--font-color);
                    font-family: var(--link-family-primary);
                }

                /* Menu Burger */
                .burger-user{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    gap: 20px;
                    font-size: 20px;
                    padding: 5px;
                    margin: 5px;
                    
                    i{
                        color:var(--font-color);
                    }
                
                    .burger {
                        display: none;
                        background: none;
                        border: none;
                        cursor: pointer;
                        font-size: 24px;
                        color: var(--font-color);
                        display: block;
                        font-size: 28px;
                    }
                
                    .burger-navbar{
                        display: flex;
                        align-items: center;
                    }
                }

                /* Badge de quantité sur cart icon */
                .cart-badge{
                    background-color: var(--link-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    font-weight: bold;
                    width: 25px;
                    height: 25px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                }

                
                .navbar-list{
                    list-style-type: none;
                    padding: 5px;
                    font-size: 1.5em;
                    gap: 20px;
                    padding: 20px;
                    margin: 20px;
                    display: none;
                    position: absolute;
                    top: -10px;
                    right: 200px;
                    background: transparent;
                    
                    li {
                        margin: 20px;
                        padding: 20px;
                        
                        a{
                            color: var(--font-color);
                            font-weight: bold;
                            font-family: var(--font-family-primary);
                        }
                    }
                    
                }
                
                .navbar-list.active {
                    display: flex;
                }

            }
            
            main{
                flex: 1;
                padding: 10px;
                color: var(--font-color);
                font-family: var(--font-family-primary);

                .page-title{
                    text-align: center;
                    font-family: var(--link-family-primary);
                    color: var(--font-color);
                    font-size: 1.8em;
                    padding: 15px;
                }
            }

            .footer-container{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 20px;
                padding-top: 20px;
                width: 100%;
                height: 100%;
                
                .footer-left{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;
                    height: 400px;
                    background: linear-gradient(to bottom, #FFA85C, #FFC18B);
                    
                    .footer-logo{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        img {
                            width: 150px;
                        }
        
                        h3{
                            font-family: var(--link-family-primary);
                            color: var(--font-color);
                            font-size: 1.8em;
                        }
                    }
                    
                    .inner-footer{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
        
                        .footer-adress{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding: 10px;
                            margin-left: 15px;
                            font-family: var(--font-family-primary);
                            color: var(--font-color);
                            font-size: 1.1em;
                            font-weight: 700;
        
                            a{
                                color: var(--font-color);
                                text-decoration: underline;
                                font-weight: bolder;
                            }
                        }
        
                        .footer-social{
                            display: flex;
                            flex-direction: column;
                            gap: 25px;
                            padding: 10px;
                            margin-left: 15px;
                            
                            a{
                                color: var(--font-color);
                                font-family: var(--font-family-primary);
                                font-size: 1.3em;
                            }
                        }
                    }
                }
        
                .footer-right{
                    width: 50%;
                    height: 400px;
                    color: white;
                    background: #4F1926;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    ul li{ 
                    list-style: none;
                    padding: 20px;
                    }
                }
            }        
        }
    }
}
/* Fin style commun */


/* Catalogues */ 
.catalog-description{
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}

.searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;

    .search-input {
        padding: 10px;
        margin: 10px;
        border: 3px solid var(--font-color);
        border-radius: 30px;
        margin-right: 10px;
        text-align: center;
        font-size: 1.2em;
    }
    .search-button-container{
        display: flex;
        align-items: center;
        gap: 10px;
        
        .search-button {
            background: none;
            border: none;
            font-size: 1.2em;
            color: var(--link-color);
            font-family: var(--font-family-primary);
            cursor: pointer;
        }
    }
}

.choux-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .choux-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
        list-style: none; 
        padding: 20px;
        
        li {
            text-align: center;
            background: transparent;
            width: 250px;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            margin: auto;
            
            a{
                &.catalog-image{
                    width: 250x;
                    height: 250px;
                    border-radius: 50px;
                    object-fit: cover;
                }
            } 
            
            h2{
                font-family: var(--link-family-primary);
                color: var(--font-color);
                font-size: var(--link-size)
            }
            
            .favori-btn {
                color: pink; /* Rose par défaut */
                border: none;
                background-color: transparent;
                padding: 5px;
                cursor: pointer;
                font-size: var(--font-size);
            }
            .favori-btn.favori-active {
                color: red; /* Rouge si favori */
            }
        }
    }
}
/* Fin catalogues */

/* Détails produit */
.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin: 20px; 
    text-align: start;

    .details-image{
        width: 250px;
        height: 250px;
        border-radius: 50px;
        object-fit: cover;
    }

    .list-details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-left: 15px;
        font-size: 1.1em;
        font-weight: 500;

        .details-description{
            padding: 10px 0 0 0;

            .details-title{
                font-family: var(--link-family-primary);
                color: var(--font-color);
                font-size: 1.8em;
            }
        }
        .details-allergene{
            font-weight: 300;
            font-size: 0.9em;
            border-bottom: #55211A 1px solid;
            padding: 10px 0 20px 0;
        }
        .details-price{
            font-weight: 400;
            font-size: 1.3em;
            padding: 15px 10px 10px 0;
        }

        #quantity-container {

            .quantity{
                border: 2px solid #55211a
                border-radius: 50px;
                text-align: center;
                font-size: var(--font-size);
                width: 15%;
                color: var(--font-color);
                font-family: var(--font-family-primary);
                height: 40px;
            }

            .validate-button{
                background-color: var(--link-color);
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 50px;
                font-family: var(--link-family-primary);
                font-size: 1.2em;
                padding: 5px;
                height: 30px;
            }
        }
    }
}


/* Fin Détails produits */

/* Eléments de style pour formulaires */ 
.security-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family-primary);
    color: var(--font-color);
    font-size: 1.1em;
    padding: 10px;
}

.flex-column-center input[type="text"], .flex-column-center input[type="number"]  {
    margin-bottom: 15px;
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #55211A;
    border-radius: 50px;
}

.flex-column-center input[type="checkbox"] {
    margin: 0;
    width: auto;
    padding: 0;
    border: none;
       border-radius: 0;
}
.flex-column-center button[type="submit"] {
    background-color: var(--link-color);
    font-family: var(--link-family-primary);
    font-size: var(--link-size);
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 50px;
}
.remember-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding-bottom: 20px;
    font-family: var(--font-family-primary);
    color: var(--font-color);
    font-size: 0.9em
}
/* Fin éléments de style pour formulaires */ 

/* Panier */
.cart-content{
    font-size: 1.2em;
    font-family: var(--font-family-primary);
    
    .cart-product{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px;
        
        .cart-item{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            
            .cart-image{
                width: 75px;
                height: 75px;
                border-radius: 50%;
            }
        }
    }
    button{
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--link-color);
        font-size: var(--link-size);
        padding: 10px;
}
}

    .profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-primary);
    color: var(--font-color);
    font-size: 1.2em;
    gap: 15px;
    margin: 15px;
    }

    .profile-container input{
        margin-bottom: 15px;
        width: 500px;
        padding: 10px;
        margin-bottom: 20px;
        border: 3px solid #55211A;
        border-radius: 50px;
    }

    .profile-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        margin-top: 15px;
    }

    .update-container{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .update-button{
        text-decoration: none;
        color: var(--link-color);
        font-size: 1.1em;
        font-family: var(--link-family-primary);
        padding: 20px;
    }

    .delete-button{
        background-color: transparent;
        border: none;
        color: red;
        font-size: 1.4em;
        font-family: var(--link-family-primary);
        padding: 15px;
    }
    .commande-list { 
        display: flex; 
        flex-wrap: wrap; 
        gap: 20px; 
        justify-content: start; 
    }
    .commande-product { 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        background: #fff; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        padding: 15px; width: 200px; 
        text-align: center; 
    }
    .catalog-image { 
        width: 120px; 
        height: 120px; 
        object-fit: cover; 
        border-radius: 10px; 
        margin-bottom: 10px; 
    }
    .commande-container h3 { 
        font-size: 1.1rem; 
        font-family: var(--link-family-primary);
        color: var(--font-color);
        font-size: 1.3em;
        padding: 10px;
    }
    .commande-product p { 
        margin: 5px 0; 
        font-family: var(--font-family-primary);
        color: var(--font-color);
        font-size: 1.1em;
    }
    .commande-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .livraison-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .commande-container input {
        margin-bottom: 15px;
        width: 500px;
        padding: 10px;
        margin-bottom: 20px;
        border: 3px solid var(--font-color);
        border-radius: 50px;
    }
    
    .commande-container button {
        background-color: var(--link-color);
        color: white;
        padding: 20px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        font-family: var(--link-family-primary);
        font-size: 1.1em;
    }

    .commande-liste{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .table{
        border-collapse: collapse;
        width: 500px;
    }

    .table th, .table td {
        padding: 8px;
        text-align: center;
        color: #55211A;
        font-family: var(--font-family-primary);
    }

    .commande-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: var(--font-color);
    }
    
    td, th{
        text-align: center;
        padding: 10px;
        color: var(--font-color);
        font-family: var(--font-family-primary);
        font-size: 1.1em;
    }

    .flex-row-between{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }

    table.dataTable thead th, table.dataTable tbody td{
        text-align: center;
        padding: 10px;
    }
    
    .dt-layout-row{
        padding: 40px;
        color: var(--font-color);
        font-size: 0.9em;
        font-family: var(--font-family-primary);
    }
    #commandesTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav{
        background: transparent;
        color: var(--link-color);
        font-size: 1.2em;
        font-family: var(--link-family-primary);
    }
    #utilisateurTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav{
        background: transparent;
        color: var(--link-color);
        font-size: 1.2em;
        font-family: var(--link-family-primary)
    }
    #commandesTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav button{
        border: none;
        background: none;
        padding: 5px;
    }
    #utilisateurTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav button{
        border: none;
        background: none;
        padding: 5px;
    }
    #commandesTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-layout-end > div{
        font-family: var(--font-family-primary);
        font-size: 1.2em;
    }

    #dt-search-0{
        border: 2px solid #FFA85C;
        border-radius: 50px;
        margin: 10px;
        text-align: center;
    }
    #commandesTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-layout-start > div > label{
        font-family: var(--font-family-primary);
        font-size: 1.2em;
    }
    #dt-length-0{
        border: 2px solid #FFA85C;
        border-radius: 50px;
        text-align: center;
    }
    
    textarea{
        width: 500px;
        height: 250px;
        border: #55211A 3px solid;
        border-radius: 50px;
        font-family: var(--font-family-primary);
        font-size: 1.1em;
    }

    input[type="file"]::file-selector-button {
        width: auto;
        background: transparent;
        font-family: var(--link-family-primary);
        font-size: 1.1em;
        color: var(--link-color);
        border: none;
        padding-right: 10px;
        cursor: pointer;
    }

    .profile-container select{
        width: 200px;
        text-align: center;
        border: #55211A 3px solid;
        border-radius: 50px;
        padding: 5px;
        font-family: var(--font-family-primary);
        color: var(--font-color);
    }
    .checkbox-item{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .checkbox-item input[type="checkbox"]{
        margin: 15px;
    }

    .grid-delete-container{
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        gap: 50px;
        padding: 20px;
    }
    