*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

:root{
    --font-color: #55211A;
    --font-family-primary: "Open sans", sans-serif;
    --font-size: 1.1em;
    --link-color: #FFA85C;
    --link-family-primary: "Bubblegum Sans", sans-serif;
    --link-size: 1.3em;
}


/* Style commun */ 
/* Polices communes */
a{
    text-decoration: none;
    color: var(--link-color);
    font-size: var(--link-size);
    font-family: var(--link-family-primary);
}

p{
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family-primary);
}


/* Input communs */
textarea{
    width: 500px;
    height: 250px;
    border: #55211A 3px solid;
    border-radius: 50px;
    font-family: var(--font-family-primary);
    font-size: 1.1em;
}

input[type="file"]{
    border: solid 3px #55211A;
    border-radius: 50px;
    padding: 5px;
}

input[type="file"]::file-selector-button {
    font-family: var(--link-family-primary);
    font-size: 1.1em;
    color: var(--link-color);
    border: none;
    padding-right: 10px;
    cursor: pointer;
}

select{
    width: auto;
    border: #55211A 3px solid;
    border-radius: 50px;
    padding: 5px;
}

/* Liens et titre communs */
.page-title{
    text-align: center;
    font-family: var(--link-family-primary);
    color: var(--font-color);
    font-size: 1.8em;
    padding: 25px;
}

.bubblegum-link{
    text-decoration: none;
    color: var(--link-color);
    font-size: var(--link-size);
    font-family: var(--link-family-primary);
    padding: 25px;
    margin: 10px;
    background:transparent;
    border: none;
    transition: transform 0.3s ease;
}
.bubblegum-link:hover{
    text-decoration: underline;
    transform: scale(1.1)
}

.delete-link{
    text-decoration: none !important;
    background:transparent !important;
    border: none !important;
    border-radius: 50px ;
    color: red !important;
    font-size: 1.1em !important;
    font-family: var(--link-family-primary) !important;
    padding: 10px !important;
    transition: transform 0.3s ease;
} 
.delete-link:hover{
    text-decoration: underline !important;
    transform: scale(1.1)
} 

/* Flexbox communs*/ 
.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
body{
    background: white;
    height: 100%;
    width: 100%;
}
        
#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    
    
    /* NavBar */
    #navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        background: linear-gradient(to bottom, #FCC5D2, #FFFFFF);
        
        .navbar-logo{
            display: flex;
            align-items: center;
            justify-content: center;
            
            .logo{
                width: 150px;
                height: 150px;
            }
        }

        .navbar-title{
            padding: 5px;
            font-size: 2em;
            color: var(--font-color);
            font-family: var(--link-family-primary);
        }

        /* Menu Burger */
        .burger-user{
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 20px;
            font-size: 20px;
            padding: 5px;
            margin: 5px;
            
            i{
                color:var(--font-color);
            }
        
            .burger {
                display: none;
                border: none;
                background: none;
                cursor: pointer;
                font-size: 24px;
                color: var(--font-color);
                font-size: 28px;
            }
        
            .burger-navbar{
                display: flex;
                align-items: center;
            }
        }

        /* Badge de quantité sur cart icon */
        .cart-badge{
            background-color: var(--link-color);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font-weight: bold;
            width: 25px;
            height: 25px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }

        
        .navbar-list{
            list-style-type: none;
            padding: 5px;
            font-size: 1.5em;
            gap: 20px;
            margin: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            background: transparent;
            
            li {
                margin: 20px;
                padding: 20px;
                
                a{
                    color: var(--font-color);
                    font-weight: bold;
                    font-family: var(--font-family-primary);
                }
            }
            
        }
        
        .navbar-list.active {
            display: flex;
        }

    }
    
    main{
        flex: 1;
        padding: 10px;
        color: var(--font-color);
        font-family: var(--font-family-primary);
        font-size:  var(--font-size);
        width: 100vw;
    }

    .footer-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        width: 100vw;
        height: 100%;
        
        .footer-left{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            height: 400px;
            background: linear-gradient(to bottom, #FFA85C, #FFC18B);
            
            .footer-logo{
                display: flex;
                align-items: center;
                justify-content: center;
                
                img {
                    width: 150px;
                }

                h3{
                    font-family: var(--link-family-primary);
                    color: var(--font-color);
                    font-size: 1.8em;
                }
            }
            
            .inner-footer{
                display: flex;
                justify-content: space-around;
                align-items: center;

                .footer-adress{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px;
                    margin-left: 15px;
                    font-family: var(--font-family-primary);
                    color: var(--font-color);
                    font-size: 1.1em;
                    font-weight: 700;

                    a{
                        color: var(--font-color);
                        text-decoration: underline;
                        font-weight: bolder;
                    }
                }

                .footer-social{
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    padding: 10px;
                    margin-left: 15px;
                    
                    a{
                        color: var(--font-color);
                        font-family: var(--font-family-primary);
                        font-size: 1.3em;
                    }
                }
            }
        }

        .footer-right{
            width: 50%;
            height: 400px;
            color: white;
            background: #4F1926;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            ul li{ 
            list-style: none;
            padding: 20px;
            }
        }
    }        
}
/* Fin style commun */


/* Catalogues */ 
.catalog-description{
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}

.searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;

    .search-input {
        padding: 10px;
        margin: 10px;
        border: 3px solid var(--font-color);
        border-radius: 30px;
        margin-right: 10px;
        text-align: center;
        font-size: 1.2em;
    }
    .search-button-container{
        display: flex;
        align-items: center;
        gap: 10px;
        
        .search-button {
            background: none;
            border: none;
            font-size: 1.2em;
            color: var(--link-color);
            font-family: var(--font-family-primary);
            cursor: pointer;
        }
    }
}
.choux-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .choux-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
        list-style: none; 
        padding: 20px;
        
        li {
            text-align: center;
            background: transparent;
            width: 250px;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            margin: 25px;
            
            a{
                .catalog-image{
                    width: 190px;
                    height: 190px;
                    border-radius: 50px;
                    object-fit: cover;
                    border: #55211a4f solid 1px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                }
            } 
            
            h2{
                font-family: var(--link-family-primary);
                color: var(--font-color);
                font-size: var(--link-size)
            }
            
            .favori-btn {
                color: pink; /* Rose par défaut */
                border: none;
                background-color: transparent;
                padding: 5px;
                cursor: pointer;
                font-size: var(--font-size);
            }
            .favori-btn.favori-active {
                color: red; /* Rouge si favori */
            }
        }
    }
}
/* Fin catalogues */

/* Détails produit */
.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin: 20px; 
    text-align: start;

    .details-image{
        width: 250px;
        height: 250px;
        border-radius: 50px;
        object-fit: cover;
    }

    .list-details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-left: 15px;
        font-size: 1.1em;
        font-weight: 500;

        .details-description{
            padding: 10px 0 0 0;

            .details-title{
                font-family: var(--link-family-primary);
                color: var(--font-color);
                font-size: 1.8em;
            }
        }
        .details-allergene{
            font-weight: 300;
            font-size: 0.9em;
            border-bottom: #55211A 1px solid;
            padding: 10px 0 20px 0;
        }
        .details-price{
            font-weight: 400;
            font-size: 1.3em;
            padding: 15px 10px 10px 0;
        }

        #quantity-container {

            .quantity{
                border: 2px solid #55211a;
                border-radius: 50px;
                text-align: center;
                font-size: var(--font-size);
                width: 15%;
                color: var(--font-color);
                font-family: var(--font-family-primary);
                height: 40px;
            }

            .validate-button{
                background-color: var(--link-color);
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 50px;
                font-family: var(--link-family-primary);
                font-size: 1.2em;
                padding: 15px;
                height: 30px;
            }
        }
    }
}


/* Fin Détails produits */

/* Eléments de style pour formulaires */ 
.security-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family-primary);
    color: var(--font-color);
    font-size: 1.1em;
    padding: 10px;
}

.flex-column-center input[type="text"], .flex-column-center input[type="number"], .flex-column-center input[type="email"], .flex-column-center input[type="password"]  {
    margin-bottom: 15px;
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #55211A;
    border-radius: 50px;
}

.flex-column-center input[type="text"]:focus, .flex-column-center input[type="number"]:focus, .flex-column-center input[type="email"]:focus, .flex-column-center input[type="password"]:focus {
    border: #55211A solid 3px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.flex-column-center input[type="checkbox"] {
    margin: 0;
    width: auto;
    padding: 0;
    border: none;
       border-radius: 0;
}
.flex-column-center button[type="submit"] {
    background-color: var(--link-color);
    font-family: var(--link-family-primary);
    font-size: var(--link-size);
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    margin: 10px;
    border: none;
    border-radius: 50px;
}
.remember-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding-bottom: 20px;
    font-family: var(--font-family-primary);
    color: var(--font-color);
    font-size: 0.9em
}
/* Fin éléments de style pour formulaires */ 

/* Panier */
.cart-content{
    font-size: 1.2em;
    font-family: var(--font-family-primary);
    
    .cart-product{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px;
        
        .cart-item{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            
            .cart-image{
                width: 75px;
                height: 75px;
                border-radius: 50%;
            }
        }
    }
    button{
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--link-color);
        font-size: var(--link-size);
        padding: 10px;
    }
}
/* Fin Panier */

/* Profil -> géré via style commun flex-column-center et links */ 

/* Commande */

.commande-list { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 

    .commande-product { 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        background: #fff; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        padding: 15px; width: 200px; 
        text-align: center; 
        border: #FFA85C solid 1px;
        border-radius: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 15px;
        margin: 40px;

        
        .commande-image { 
            width: 150px; 
            height: 150px; 
            object-fit: cover; 
            border-radius: 10px; 
            margin-bottom: 10px; 
        }
    }
}
/* Fin commande */


/* DataTables */
/* DataTable styles communs */

table.dataTable thead th, table.dataTable tbody td{
    text-align: center;
    padding: 10px;
    width: 200px;
}

.dt-layout-row{
    padding: 40px;
    color: var(--font-color);
    font-size: 0.9em;
    font-family: var(--font-family-primary);
}

#dt-search-0{
    border: 2px solid #FFA85C;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
}

#dt-length-0{
    border: 2px solid #FFA85C;
    border-radius: 50px;
    text-align: center;
}

/* DataTable Admin */
/* DataTable User List */
#utilisateurTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav{
    background: transparent;
    color: var(--link-color);
    font-size: 1.2em;
    font-family: var(--link-family-primary)
}

#utilisateurTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav button{
    border: none;
    background: none;
    padding: 5px;
}

/* DataTable Commandes */
#commandesAdminTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav{
    background: transparent;
    color: var(--link-color);
    font-size: 1.2em;
    font-family: var(--link-family-primary);
}
#commandesAdminTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav button{
    border: none;
    background: none;
    padding: 5px;
}

#commandesAdminTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-layout-end > div{
    font-family: var(--font-family-primary);
    font-size: 1.2em;
}


#commandesAdminTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-layout-start > div > label{
    font-family: var(--font-family-primary);
    font-size: 1.2em;
}
/* Fin DataTables Admin */

/* DataTable User */
/* DataTable Commandes */
#commandesTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav{
    background: transparent;
    color: var(--link-color);
    font-size: 1.2em;
    font-family: var(--link-family-primary);
}
#commandesTable_wrapper > div:nth-child(3) > div.dt-layout-cell.dt-layout-end > div > nav button{
    border: none;
    background: none;
    padding: 5px;
}

#commandesTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-layout-end > div{
    font-family: var(--font-family-primary);
    font-size: 1.2em;
}


#commandesTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-layout-start > div > label{
    font-family: var(--font-family-primary);
    font-size: 1.2em;
}
/* Fin DataTable User */
/* Fin DataTables */

/* Delete Product Form */
.grid-delete-container{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 50px;
    padding: 20px;

    .checkbox-item{
        display: flex;
        align-items: start;
        justify-content: end; 
        
        input[type="checkbox"]{
            margin: 10px;
        }
    }
}
/* Fin Delete Product Form */



    