{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<section content="privacy-terms">
    <div class="text-start" style="width: 60vw;">
        <h2 class="page-title">Politique de confidentialité</h2>
        <div><br></div>
        <div>
            Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C’est pourquoi nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.
        </div>
        <div><br></div>

        <h3 >Collecte des renseignements personnels</h3>
        <div><br></div>
        <div>
            <ul>
                <li>Nom</li>
                <li>Prénom</li>
                <li>Adresse postale</li>
                <li>Code postal</li>
                <li>Ville</li>
                <li>Adresse électronique</li>
                <li>Numéro de téléphone</li>
            </ul>
        </div>
        <div><br></div>

        <h3>Formulaires et interactivité:</h3>
        <div>Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :</div>
        <div><br></div>
        <div>
            <ul>
                <li>Formulaire d'inscription au site</li>
                <li>Formulaire de commande</li>
                <li>Formulaire de contact</li>
            </ul>
        </div>
        <div>
            Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
        </div>
        <div><br></div>
        <div>
            <ul>
                <li>Suivi de la commande</li>
                <li>Connexion au site</li>
                <li>Demande de contact</li>
            </ul>
        </div>

        <h3>Droit d’opposition et de retrait</h3>
        <div>Nous nous engageons à vous offrir un droit d’opposition et de retrait quant à vos renseignements personnels.</div>
        <div>
            Le droit d’opposition s’entend comme étant la possibilité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.
        </div>
        <div><br></div>
        <div>
            Le droit de retrait s’entend comme étant la possibilité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.
        </div>
        <div><br></div>
        <div><strong>Pour pouvoir exercer ces droits, vous pouvez nous écrire à l'adresse suivante :</strong></div>
        <div><br></div>
        <div></div>
        <div>Courriel : support@clickandhoux.com</div>
        <div></div>
        <div></div>
        <div><br></div>
        <h3>Droit à l'oubli</h3>
        <div>Le droit à l'oubli s’entend comme étant la possibilité offerte aux internautes de supprimer leur compte et toutes les informations liées à celui-ci. Vous pouvez effectuer cette démarche en cliquant sur le bouton Supprimer mon compte présent au bas de votre page de profil.</div>
        <div><br></div>
        <h3>Droit d’accès</h3>
        <div>Nous nous engageons à reconnaître un droit d’accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.</div>
        <div><br></div>
        <div><strong>L’exercice de ce droit se fera en nous écrivant à l'adresse suivante :</strong></div>
        <div><br></div>
        <div></div>
        <div>Courriel : support@clickandchoux.com</div>
        <div></div>
        <div></div>
        <div><br></div>

        <h3>Sécurité</h3>
        <div>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.</div>
        <div><br></div>
        <div>
            Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :
        </div>
        <div><br></div>
        <div>
            <ul>
                <li>Protocole SSL</li>
                <li>Gestion des accès - personne autorisée</li>
                <li>Gestion des accès - personne concernée</li>
                <li>Identifiant / mot de passe</li>
                <li>Pare-feu</li>
            </ul>
        </div>
        <div>
            Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d’assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n’offre une sécurité maximale, une part de risque est toujours présente lorsque l’on utilise Internet pour transmettre des renseignements personnels.
        </div>
        <div><br></div>

        <h3>Législation</h3>
        <div>Nous nous engageons à respecter les dispositions législatives énoncées dans :</div>
        <div><br></div>
        <div>Règlement (UE) 2016/679 – Règlement Général sur la Protection des Données</div>
        <div>Loi n° 78-17 du 6 janvier 1978 – Loi Informatique et Libertés</div>
        <div>Directive 2002/58/CE – Directive ePrivacy</div>
        <div>Loi n° 2018-493 du 20 juin 2018 relative à la protection des données personnelles</div>
        <div><br></div>
    </div>
</section>
{% endblock %}
