{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}
    <section id="conditions-generales-dutilisation">
        <div class="text-start" style="width: 60vw;">
            <h2 class="page-title" style="padding: 1rem 0; margin: 1rem 0; width: 100%; font-size: 1.5em">Conditions Générales d'Utilisation</h2>
            
            <h3>1. Champ d’application</h3>
            <p>Les présentes Conditions Générales d'Utilisation (CGU) régissent l'accès et l'utilisation du site Click&Choux, ainsi que les services et fonctionnalités disponibles. En accédant au site, l'utilisateur accepte pleinement et sans réserve les CGU en vigueur.</p>
            
            <h3>2. Services proposés</h3>
            <p>Click&Choux offre un service de vente en ligne de choux à la crème artisanaux. L'utilisateur peut consulter le catalogue, passer des commandes, et obtenir des informations sur les produits. Le site ne vend pas de produits d'autres catégories que les choux à la crème.</p>

            <h3>3. Accès au site</h3>
            <p>Le site est accessible à tout utilisateur disposant d'une connexion internet. Toutefois, Click&Choux ne garantit pas l'accessibilité du site en permanence et se réserve le droit de suspendre l'accès pour maintenance ou pour des raisons techniques. L'utilisateur est responsable de son propre accès à Internet.</p>

            <h3>4. Inscription et compte utilisateur</h3>
            <p>Pour passer une commande sur Click&Choux, l'utilisateur doit créer un compte. L'utilisateur s'engage à fournir des informations exactes et à maintenir la confidentialité de son mot de passe. Click&Choux se réserve le droit de supprimer le compte utilisateur en cas de violation des CGU.</p>

            <h3>5. Comportement de l'utilisateur</h3>
            <p>L'utilisateur s'engage à utiliser le site de manière respectueuse et à ne pas perturber son fonctionnement. Il est interdit d'utiliser le site pour :
                <ul>
                    <li>Publier des contenus illégaux, nuisibles, diffamatoires ou offensants</li>
                    <li>Usurper l'identité d'un autre utilisateur</li>
                    <li>Introduire des virus ou toute autre technologie nuisible</li>
                </ul>
            </p>

            <h3>6. Propriété intellectuelle</h3>
            <p>Tous les contenus du site, incluant mais sans se limiter aux textes, images, logos, vidéos et graphismes, sont protégés par des droits de propriété intellectuelle. Toute reproduction, modification ou exploitation non autorisée de ces contenus est interdite.</p>

            <h3>7. Données personnelles</h3>
            <p>Les données personnelles collectées sur le site sont utilisées pour traiter les commandes et améliorer l'expérience utilisateur. Elles sont soumises à la politique de confidentialité de Click&Choux, disponible <a href="{{ path('app_legal_privacy') }}" class="no-bg-link">ici</a>.</p>

            <h3>8. Responsabilité</h3>
            <p>Click&Choux ne saurait être tenu responsable des dommages directs ou indirects causés par l'utilisation du site, notamment en cas d'indisponibilité du site, d'erreurs de transmission, ou de virus informatiques. L'utilisateur accède au site à ses propres risques.</p>

            <h3>9. Liens externes</h3>
            <p>Le site peut contenir des liens vers des sites tiers. Click&Choux n'est pas responsable du contenu de ces sites et décline toute responsabilité en cas de dommages résultant de leur utilisation.</p>

            <h3>10. Modifications des CGU</h3>
            <p>Click&Choux se réserve le droit de modifier ou de mettre à jour les présentes CGU à tout moment. Les utilisateurs seront informés des modifications par publication sur cette page. Les nouvelles conditions entreront en vigueur dès leur mise en ligne.</p>

            <h3>11. Loi applicable et litiges</h3>
            <p>Les présentes CGU sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux du ressort du siège social de Click&Choux, sauf disposition contraire prévue par la loi.</p>
        </div>
    </section>
{% endblock %}
